.get-certificate-container{
    color: white;
    background-color: black;
    padding: 3vw 5vw 7vw;
    
}

.certificate-image-container{
    padding-right: 18vw;
    width: 360px;
    height: 250px;
}

.certificate-image-container img{
    width: 100%;
}

.border .actual-border{
    border: 0.5px solid var(--gradient-border);
  
}
.border-heading{
    display: grid;
    grid-template-columns:1fr 3fr 1fr ;
    gap: 12px;
}